option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "netrunner_league.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "netrunner_league/wsgi.py"
    StaticFiles: "/static/=www/static/"
packages:
  yum:
    postgresql195-devel: []
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_create_bye:
    command: "python manage.py loaddata bye_data.yaml"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
