option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "league.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "league/wsgi.py"
    StaticFiles: "/static/=www/static/"
packages: 
  yum:
    postgresql95-devel: []
container_commands:
  01_migrate:
    command: "python league/manage.py migrate"
    leader_only: true
  02_create_bye:
    command: "python league/manage.py loaddata bye_data.yaml"
  03_collectstatic:
    command: "python league/manage.py collectstatic --noinput"
