{% extends 'base.html' %}
{% block content %}
<h1>Welcome to this page</h1>
<p class="lead">This is some filler text right here.</p>
<p class="lead">Bacon ipsum dolor amet do meatloaf ullamco est laborum non id sirloin minim culpa fatback ground round aliqua nostrud occaecat. Non quis nulla, drumstick incididunt strip steak ut. Sint beef ullamco proident shank. Tail occaecat ribeye laboris, nulla sirloin beef ribs pork belly deserunt excepteur kevin picanha. Bresaola kevin beef ribs ribeye, laborum excepteur porchetta deserunt. Pig ut elit duis, aliquip ground round andouille drumstick do deserunt sirloin. Ut commodo magna, laborum pariatur labore deserunt.</p>

<p class="lead">Hamburger frankfurter drumstick biltong sirloin aute. Cupim quis adipisicing swine ribeye, pancetta pig pork loin ham elit duis sed exercitation et jowl. Corned beef eu esse frankfurter, nisi strip steak anim turducken commodo beef est voluptate alcatra t-bone. Ex porchetta occaecat est esse quis ut frankfurter. Ad aliqua shank occaecat culpa leberkas minim. Short loin turducken commodo, pork belly magna in nostrud ribeye biltong.</p>
{% endblock %}
