{% extends 'base.html' %}
{% block content %}

<h1>This is a website</h1>
{% for u in user %}
    <p> Name: {{ u.name }} </p>
{% endfor %}
<br />
{% for r in record %}
    <p> Game Number: {{ r.id }} </p>
    <p> Player: {{ r.user_id }} </p>
    <p> Opponent: {{ r.opponent_id }} </p>
    {{ r.round_num }}
{% endfor %}
<br />
{% for d in deck %}
    <p> User: {{ d.user_id }} </p>
    <p> Game: {{ d.game }} </p>
    <p> Runner ID: {{ d.runner_id }} </p>
    <p> Runner Faction: {{ d.runner_faction }} </p>
    <p> Corp ID: {{ d.corp_id }} </p>
    <p> Corp Faction: {{ d.corp_faction }} </p>
{% endfor %}
{% for l in league %}
<p> League: {{ l.league_id }} {{ l.league_name }}</p>
{% endfor %}
{% endblock %}
