{% extends 'base.html' %}
{% load extras %}
{% block content %}

<h3 class="text-center">Player Standings</h3>

<table class="table table-condensed">
    <tr>
        <th>Player Name</th>
        <th>Total Points</th>
        <th>Strength of Schedule</th>
        <th>Extended Strength of Schedule</th>
    </tr>

{% for key, value in stats.items|dictsortreversed:"1.points" %}
<tr>
    <td><a href="/records/{{ key }}">{{ value.name }}</a></td> 
    <td>{{ value.points }}</td> 
    <td>{{ value.sos|floatformat:"2" }}</td> 
    <td>{{ value.esos|floatformat:"2" }}</td>
</tr>
{% endfor %}
</table>

<h3 class="text-center">Match History</h3>

<table class="table table-condensed">
    <tr class="text-center">
        <th>Player</th>
        <th>Opponent</th>
        <th>As Runner</th>
        <th>As Corporation</th>
        <th></th>
        <th></th>
    </tr>

{% for record in records %}
{% endfor %}

{% regroup records|dictsort:"game_id" by game as game_list %}
{% for game in game_list %}
<tr>
    <td colspan="6" class="success text-center">{{ game.grouper }}</td>
</tr>
{% regroup game.list|dictsortreversed:"round_num" by round_num as round_list %}
{% for round in round_list %}
<tr>
    <td colspan="6" class="info text-center">Round {{ round.grouper }}</td>
</tr>
{% for item in round.list %}
<tr>
    <td>{{ item.user_id.name }}</td>
    <td>{{ item.opponent_id.name }}</td>
    <td>{{ item.runner_status }}</td>
    <td>{{ item.corp_status }}</td>
    <td><a href="/update_record/{{ item.id }}/">Update</a></td>
    <td><a href="/delete_record/{{ item.id }}/">Delete</a></td>
</tr>
{% endfor %}
{% endfor %}
{% endfor %}
</table>

<h3 class="text-center">Win Rates</h3>

<table class="table table-condensed">
    <tr>
        <th> </th>
        <th>Runner</th>
        <th>Corporation</th>
    </tr>
    <tr>
        <td>Round Wins</td>
        <td>{{ win_rates.WI.runner }}</td>
        <td>{{ win_rates.WI.corp }}</td>
    </tr>
    <tr>
        <td>Round Timed Wins</td>
        <td>{{ win_rates.TW.runner }}</td>
        <td>{{ win_rates.TW.corp }}</td>
    </tr>
    <tr>
        <td>Round Ties</td>
        <td>{{ win_rates.TI.runner }}</td>
        <td>{{ win_rates.TI.corp }}</td>
    </tr>
</table>

<h3 class="text-center">Deck and Faction Match-Ups</h3>

<table class="table table-condensed">
    <tr>
        <th>Faction</th>
        <th>Points</th>
    </tr>
    {% for k, v in faction_records.items|dictsortreversed:1 %}
    <tr>
        <td>{{ k|title }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>

<table class="table table-condensed">
    <tr>
        <th>ID</th>
        <th>Points</th>
    </tr>
    {% for k, v in id_records.items|dictsortreversed:1 %}
    <tr>
        <td>{{ k|title }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
