{% extends 'base.html' %}
{% block content %}

<h4 class="text-center">{{ user.name }} <i>Strength of Schedule: {{ sos }}, Extended Strength of Schedule: {{ esos }}</i></h4>

<table class="table table-condensed">
    <tr>
        <th>Opponent</th>
        <th>Corporation</th>
        <th>Runner</th>
        <th>Game Night</th>
        <th>Round Number</th>
    </tr>
{% for rec in records %}
<tr>
    <td> {{ rec.opponent_id }} </td>
    <td> {{ rec.corp_status }}</td>
    <td> {{ rec.runner_status }}</td>
    <td> {{ rec.game }}</td>
    <td> {{ rec.round_num }}</td>
</tr>
{% endfor %}
{% endblock %}